#nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    background-color: aquamarine;
}

#nav li{
    margin: 5px;
    padding: 5px;
}

#nav li:hover {
    background-color: blue;
}

#nav a{
    text-decoration: none;
}

/*  Modelo de caja  */

.padre{
    background-color: red;
    padding: 20px;
}

.hijo {
    text-align: center;
    border: 10px solid;
    border-color: black;
    margin: 30px;

    background-color: aqua;
    padding: 100px;
}

/* Componetes */
#contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: burlywood;
    gap: 1rem;
}

.card{
    border-radius: 10px;
    width: 500px;
    background-color: white;
    text-align: center;
    box-shadow: 0px 4px 8px black;
}

.card img{
    height: 200px;
}

.card p{
    color: white;
    background-color: black;
}

#carritoLista{
    list-style: none;
    padding: 10px;
    margin: 10px;
    border: 5px solid red;
    background-color: black;
    color : white;
}

pre{
    text-align: left;
    background-color: black;
    padding: 1rem;
    border-radius: 10px;
    width: 80%;
    color: greenyellow;
}

#bodyTry{
    display: flex;
    flex-direction: column;
    align-items: center;

}

#mensaje{
    font-weight: bold;
    color: red;
}